
<div class="container-fluid">

  <div class="row main justify-content-center">
    <div class="col-10">

      <h1>Assignments</h1>

      <a class="btn btn-primary">Add Assignment</a>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Copy Email</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assigment of apiResponse._embedded.assigments">
            <td>{{assigment.name}}</td>
            <td>{{assigment.email}}</td>
            <td>{{assigment.copyEmail}}</td>
            <td>
              <a class="btn btn-primary"><i class="fa fa-pencil" ></i></a>&nbsp;
              <a class="btn btn-danger"><i class="fa fa-trash" ></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>


